spring:
  datasource:
    url: jdbc:postgresql://realtime_chat_db_5787_user:IIbLLsvXNHWepAK800QlOENUNgVzSXy0@dpg-d4mdvqm3jp1c739rpf60-a/realtime_chat_db_5787
    username: realtime_chat_db_5787_user
    password: IIbLLsvXNHWepAK800QlOENUNgVzSXy0
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

jwt:
  secret: "this-is-a-very-long-and-secure-jwt-key-for-hs256-algorithm-example-2025"
  expiration-minutes: 60
